<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">          
           <div class="page-content">
                <div class="container">                 
                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="page-content-inner">
                      <div class="row">
                            <div class="col-md-12 col-sm-12">
                             welcome
                            </div>                          
                        </div>                      
                    </div>
                    <!-- END PAGE CONTENT INNER -->
                </div>
            </div>
        </div>
    </div>
</div>